@import './fonts.css';
.scroll-margin-top{
  margin-top: 25px;
}
h1,h2,h3{
  @apply font-black;
}
h1{
  @apply text-3xl lg:text-4xl;
}
h2{
  @apply text-2xl lg:text-3xl;
}
h3{
  @apply text-xl lg:text-2xl;
}
body {
  font-family: 'Gotham', Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.rounded-tr{
  border-top-right-radius: 5rem;
}
.rounded-tl{
  border-top-left-radius: 5rem;
}
.rounded-br{
  border-bottom-right-radius: 5rem;
}
.rounded-bl{
  border-bottom-left-radius: 5rem;
}
.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active,
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-in-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-up-enter-active,
.fade-up-leave-active {
  transition: all 0.25s ease-in-out;
}
.fade-up-enter,
.fade-up-leave-to {
  opacity: 0;
  transform: translateY(-10px)
}
.rotate-enter-active,
.rotate-leave-active {
  transition: all 0.25s ease-in-out;
}
.rotate-enter,
.rotate-leave-to {
  transform: rotate(90deg);
}


.animate-in {
  animation-duration: 0.5s;
  animation-name: animate-upin;
  animation-fill-mode: backwards;
}

.animate-delay-1{
  animation-delay: 0.75s
}
.animation-delay-2{
  animation-delay: 1s
}

@keyframes animate-upin {
  0% { opacity: 0; transform: translate3d(-20px,-2px,0);transform: scale(0.9, 0.9); }
  100% { opacity: 1; transform: translate3d(0,0,0);transform: scale(1, 1); }
}


